.btn-orange {
    color: #fff;
    background-color: #ff5500;
    border-color: #ff5500;
  }
  
  .btn-orange:hover {
    color: #fff;
    background-color: #ff5500;
    border-color: #ff5500;
  }

  .custom-bg-dark {
    background-color: #f0f0f0; /* Cinza mais escuro */
  }
  
  .form-group {
    margin-bottom: 15px;
  }

  .separar {
    margin-right: 15px;
  }
  