<div class="container mt-4 card-body p-4">
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card p-3" style="width: 340px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); padding: 20px;">
      <h4 *ngIf="!editando" class="text-center mb-5">Cadastro de Visita</h4>
      <h4 *ngIf="editando" class="text-center">Edição de Visita</h4>
      <form [formGroup]="visitaForm" (submit)="onSubmit()">
        <div class="form-group">
          <label for="nomeEmpresa">Nome da Empresa:</label>
          <input type="text" class="form-control" id="nomeEmpresa" name="nomeEmpresa" formControlName="nomeEmpresa" required>
          <small *ngIf="nomeEmpresa.invalid && (nomeEmpresa.dirty || nomeEmpresa.touched)" style="color: red">
            <div *ngIf="nomeEmpresa.errors?.['required']">Campo Obrigatório</div>
            <div *ngIf="nomeEmpresa.errors?.['pattern']">Nome inválido</div>
          </small>
        </div>
        <div class="form-group">
          <label for="estado">Estado:</label>
          <select class="form-control" id="estado" name="estado" formControlName="estado" (change)="loadCidadesPorEstado($event.target.value)" required>
            <option value="" disabled selected>Selecione o estado</option>
            <option *ngFor="let estado of estados" [value]="estado">{{estado}}</option>
          </select>
          <small *ngIf="estado.invalid && (estado.dirty || estado.touched)" style="color: red">
            <div *ngIf="estado.errors?.['required']">Campo Obrigatório</div>
          </small>
        </div>
        <div class="form-group">
          <label for="cidade">Cidade:</label>
          <select class="form-control" id="cidade" name="cidade" formControlName="cidade" required>
            <option value="" disabled selected>Selecione a cidade</option>
            <option *ngFor="let cidade of cidades" [value]="cidade">{{cidade}}</option>
          </select>
          <small *ngIf="cidade.invalid && (cidade.dirty || cidade.touched)" style="color: red">
            <div *ngIf="cidade.errors?.['required']">Campo Obrigatório</div>
          </small>
        </div>
        <div class="form-group">
          <label for="dataVisita">Data da Visita:</label>
          <input type="datetime-local" class="form-control" id="dataVisita" name="dataVisita" formControlName="dataVisita" required>
          <small *ngIf="dataVisita.invalid && (dataVisita.dirty || dataVisita.touched)" style="color: red">
            <div *ngIf="dataVisita.errors?.['required']">Campo Obrigatório</div>
          </small>
        </div>
        <div class="form-group">
          <label for="dataLimiteCadastro">Data Limite de Cadastro:</label>
          <input type="datetime-local" class="form-control" id="dataLimiteCadastro" name="dataLimiteCadastro" formControlName="dataLimiteCadastro" required>
          <small *ngIf="dataLimiteCadastro.invalid && (dataLimiteCadastro.dirty || dataLimiteCadastro.touched)" style="color: red">
            <div *ngIf="dataLimiteCadastro.errors?.['required']">Campo Obrigatório</div>
          </small>
        </div>
        <div class="form-group">
          <label for="quantidadePessoas">Quantidade de Pessoas:</label>
          <input type="number" class="form-control" id="quantidadePessoas" name="quantidadePessoas" formControlName="quantidadePessoas" required>
          <small *ngIf="quantidadePessoas.invalid && (quantidadePessoas.dirty || quantidadePessoas.touched)" style="color: red">
            <div *ngIf="quantidadePessoas.errors?.['required']">Campo Obrigatório</div>
          </small>
        </div>
        <div class="text-center mt-3">
          <button *ngIf="!editando" class="btn btn-orange" [disabled]="visitaForm.invalid">Cadastrar Visita</button>
          <button *ngIf="editando" class="btn btn-orange separar" [disabled]="visitaForm.invalid">Salvar Edição</button>
          <button *ngIf="editando" class="btn btn-secondary" [routerLink]="['/listagem']">Cancelar Edição</button>
        </div>      
      </form>
    </div>
  </div>
</div>
