<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/listagem']">Gerenciar Visitas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/cadastro']">Faça uma Visita</a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="btn btn-orange shadow-sm" [routerLink]="['/tela-login']">Login</a>
            </li>
            <li class="nav-item registrar">
                <a class="nav-link btn" [routerLink]="['/registro']">Registrar-se</a>
            </li>
        </ul>
    </div>
</nav>
