<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card p-4" style="width: 350px; margin-top: 100px; margin-bottom: 100px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
        <h4 class="text-center mb-4">Login do Usuário</h4>
        <form>
            <div class="form-group">
                <label for="username">Usuário</label>
                <input type="text" class="form-control" id="username" placeholder="Digite seu usuário">
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" class="form-control" id="password" placeholder="Digite sua senha">
            </div>
            <div class="form-group text-center">
                <a class="nav-link btn mt-3" [routerLink]="['/registro']">Inscreva-se</a>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-orange mt-3">Entrar</button>
            </div>
        </form>
    </div>
</div>
