/* Estilo personalizado para o botão laranja */
.btn-orange {
    color: #fff;
    background-color: #ff5500; /* Cor laranja */
    border-color: #ff5500; /* Cor da borda igual à cor de fundo */
}
  
.btn-orange:hover {
    background-color: #e64600; /* Cor laranja mais escura ao passar o mouse */
    border-color: #e64600; /* Cor da borda ao passar o mouse */
}
